# Réalisez une étude de santé publique

Vous êtes intégré à une nouvelle équipe de chercheurs de la Food and Agriculture Organization of the United Nations (FAO), l'un des organes qui compose l'ONU et dont l'objectif est d' « aider à construire un monde libéré de la faim ».

Votre équipe est chargée de réaliser une étude de grande ampleur sur le thème de la sous-nutrition dans le monde.

Le problème de la faim est complexe et peut avoir de multiples causes, différentes selon les pays. L’étape préliminaire de cette étude sera donc d’établir un “état de l’art” des recherches déjà publiées, mais également de mener une étude statistique destinée à orienter les recherches vers des pays particuliers, et de mettre en lumière différentes causes de la faim. Ainsi, une poignée de data analysts (dont vous !) a été sélectionnée pour mener cette étape préliminaire. Lors de la première réunion, vous avez été désigné pour mettre une place la base de données que votre équipe pourra requéter (en SQL) à souhait pour réaliser cette étude statistique.

## Les données


Les données sont disponibles sur le site de la FAO, à cet endroit : http://www.fao.org/faostat/fr/#data .

En fonction des besoins exprimés plus bas dans cet énoncé, il vous appartiendra de choisir quelles données télécharger. Cependant, les rubriques qui vous seront utiles sont les suivantes :

Bilans alimentaires
Sécurité alimentaire, puis dans cette rubrique, Données de la sécurité alimentaire .
Cette rubrique contient de nombreux indicateurs, mais nous ne nous intéresserons ici qu’à l’indicateur Nombre de personnes sous-alimentées

### Pour ce projet, il est vivement conseillé de formater votre dataframe principal de manière à obtenir une colonne pour chaque élément (Production, Importation, Disponibilité intérieure, Semences, etc.) de cette manière :

In [1]:
# Import des librairies
import numpy as np
import pandas as pd
import seaborn as sns

# Import des données des bilans alimentaires
veg =  pd.read_csv('FAOSTAT_data_vege.csv')
ani = pd.read_csv('FAOSTAT_data_ani.csv')

# Ajout de la variable origin
ani["origin"] = "animal"
veg["origin"] = "vegetal"

# On regroupe veg et ani en un unique dataframe, via une union
temp = ani.append(veg)

# Suppression de ani et veg
del ani, veg



# On renomme les colonnes de temp
temp.columns = ["xx","xx2","country_code","country",'xx3','element'
    ,'item_code','item','xx4',"year","unit","value",'xx5','xx6'
    ,'origin']

# Transformation de temp en table pivot
data = temp.pivot_table(
    index=["country_code","country","item_code","item","year","origin"],
    columns = ["element"], values =["value"], aggfunc=sum)
# On renomme les colonnes (attention l'ordre peut changer selon vos données !)
data.columns = ['Aliments pour animaux',  'Autres Utilisations', 'Disponibilité alimentaire (Kcal/personne/jour)','Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité de matière grasse en quantité (g/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)', 'Disponibilité intérieure',  'Exportations','Importations',  'Nourriture', 'Pertes','Production',  'Semences','Transformés',  'Variation de stock' 
]
    
data = data.reset_index()
data.head()

,country_code,country,item_code,item,year,origin,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations,Importations,Nourriture,Pertes,Production,Semences,Transformés,Variation de stock
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

In [2]:
# On check que les colonnes sont bien en ordre
armenia= data.loc[ data['country'] == 'Arménie']
armenia = armenia.loc[armenia['item']== 'Abats Comestible']
armenia

,country_code,country,item_code,item,year,origin,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations,Importations,Nourriture,Pertes,Production,Semences,Transformés,Variation de stock
71,1,Arménie,2736,Abats Comestible,2013,animal,NaN,3.0,14.0,4.59,...,2.25,17.0,0.0,2.0,14.0,0.0,15.0,NaN,NaN,NaN

### Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.

### Question 1 : donnez le résultat de votre calcul pour l'année 2013, ainsi que pour la dernière année  disponible au jour où vous effectuez ce projet.

In [3]:
# Import des données des population
df_data_3 = pd.read_csv('FAOSTAT_data_population_2013.csv')
df_data_3.head()

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBS,Bilans Alimentaires,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBS,Bilans Alimentaires,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBS,Bilans Alimentaires,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBS,Bilans Alimentaires,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [4]:
# On transforme les valeurs en milliers
df_data_3['Population totale (en milliers)']= df_data_3['Valeur']*1000
df_data_3 = df_data_3[['Pays','Population totale (en milliers)']]

df_data_3.head()

             Pays  Population totale (en milliers)
0     Afghanistan                         30552000
1  Afrique du Sud                         52776000
2         Albanie                          3173000
3         Algérie                         39208000
4       Allemagne                         82727000

In [5]:
df_data_3 = df_data_3.rename(columns={"Pays": "country"})
df_data_3.head()

          country  Population totale (en milliers)
0     Afghanistan                         30552000
1  Afrique du Sud                         52776000
2         Albanie                          3173000
3         Algérie                         39208000
4       Allemagne                         82727000

In [6]:
# on calcule la population totale en 2013
total_population_2013 = df_data_3['Population totale (en milliers)'].sum()
total_population_2013

6997326000

In [7]:
# Import des données des population
df_data_4 = pd.read_csv('FAOSTAT_data_population_2017.csv')

In [8]:
# on calcule la population totale en 2017
total_population_2017 = df_data_4['Valeur'].sum()*1000
total_population_2017

7550036043.999999

Parmi les documents sur les Bilans alimentaires que vous avez téléchargés, il y a des informations redondantes. En effet, pour un pays donné, certaines de ces informations peuvent se calculer à partir d'autres :

* Production (Production)
* Importations (Import Quantity)
* Exportations (Export Quantity)
* Variation de stock (Stock Variation)
* Disponibilité intérieure (Domestic supply)
* Semences (Seed)
* Pertes (Waste)
* Nourriture (Food) , aussi appelée Disponibilité alimentaire (Food Supply)
* Aliments pour animaux (Feed)
* Traitement (Processing)
* Autres utilisations (Other uses)

### Question 2 : Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice, cliquez sur "Définitions et Standards" sur la page de téléchargement des données.

###### Réponse :
######  a =  Disponibilité intérieure 
######   b =Aliments pour animaux + Semences +Pertes +Traitement +Autres Utilisations + Nourriture 
######   c = (Production + Importations +Variation de stock)-Exportations 
####  a=b=c
  
  
  ou
  
 
###### Disponibilité intérieure = Production + Importations - Exportations + Evolution des stocks

###### Nourriture = Disponibilité intérieure - Semences - Pertes - Aliments pour animaux - Autre Utilisation - Traitement


###### Disponibilité alimentaire = Nourriture / Population

In [9]:
# On check l'equation avec les chiffres du blé en France
df_france =data.loc[ data['country'] == 'France']

In [10]:
df_france_ble = df_france.loc[df_france['item']== 'Blé']
df_france_ble

,country_code,country,item_code,item,year,origin,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations,Importations,Nourriture,Pertes,Production,Semences,Transformés,Variation de stock
4191,68,France,2511,Blé,2013,vegetal,7822.0,2824.0,811.0,108.43,...,25.99,20298.0,21502.0,2055.0,6971.0,358.0,38614.0,748.0,1575.0,1131.0

france_ble = 20298.0 = 7822 + 748 +358 + 1575 + 2824 + 6971 = (38614 + 2055 +1131) - 21502

### Question 3 : Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

In [11]:
# On merge les donnes de bilan alimentaire avec la population
df_3 = data[['country', 'origin','item','Nourriture','Disponibilité alimentaire (Kcal/personne/jour)' ,'Disponibilité de protéines en quantité (g/personne/jour)']]

df_3 = df_3.merge(df_data_3)
df_3.head()

,country,origin,item,Nourriture,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Population totale (en milliers)
0,Arménie,vegetal,Blé,389.0,1024.0,30.52,2977000
1,Arménie,vegetal,Orge,0.0,0.0,0.00,2977000
2,Arménie,vegetal,Maïs,0.0,0.0,0.01,2977000
3,Arménie,vegetal,Seigle,0.0,1.0,0.02,2977000
4,Arménie,vegetal,Avoine,1.0,2.0,0.09,2977000

In [12]:
# On calcule la disponiblité alimentaire kcal par an
df_3['Disponibilité alimentaire (Kcal/an)'] = (data['Disponibilité alimentaire (Kcal/personne/jour)'] *365) * df_3['Population totale (en milliers)']
df_3.head()

,country,origin,item,Nourriture,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Population totale (en milliers),Disponibilité alimentaire (Kcal/an)
0,Arménie,vegetal,Blé,389.0,1024.0,30.52,2977000,1.112684e+12
1,Arménie,vegetal,Orge,0.0,0.0,0.00,2977000,0.000000e+00
2,Arménie,vegetal,Maïs,0.0,0.0,0.01,2977000,0.000000e+00
3,Arménie,vegetal,Seigle,0.0,1.0,0.02,2977000,1.086605e+09
4,Arménie,vegetal,Avoine,1.0,2.0,0.09,2977000,2.173210e+09

In [13]:
# On calcule la disponiblité alimentaire kg par an
df_3['Disponibilité alimentaire en quantité (kg/an)'] = data['Disponibilité alimentaire en quantité (kg/personne/an)'] * df_3['Population totale (en milliers)']
df_4 =df_3[['country','origin','item','Disponibilité alimentaire (Kcal/an)','Disponibilité alimentaire en quantité (kg/an)']]
df_4.head()

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an)
0,Arménie,vegetal,Blé,1.112684e+12,388796200.0
1,Arménie,vegetal,Orge,0.000000e+00,0.0
2,Arménie,vegetal,Maïs,0.000000e+00,89310.0
3,Arménie,vegetal,Seigle,1.086605e+09,357240.0
4,Arménie,vegetal,Avoine,2.173210e+09,1101490.0

###  Question 4 : A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

internet = 100g d'oeuf = 147kcal

In [14]:
# On calcule le ratio energie/ poids par an
df_4['ratio_energie_poids en Kcal/an'] = df_4['Disponibilité alimentaire (Kcal/an)'] / df_4['Disponibilité alimentaire en quantité (kg/an)']
df_4.head()

/Volumes/MarceloHD1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an),ratio_energie_poids en Kcal/an
0,Arménie,vegetal,Blé,1.112684e+12,388796200.0,2861.868300
1,Arménie,vegetal,Orge,0.000000e+00,0.0,NaN
2,Arménie,vegetal,Maïs,0.000000e+00,89310.0,0.000000
3,Arménie,vegetal,Seigle,1.086605e+09,357240.0,3041.666667
4,Arménie,vegetal,Avoine,2.173210e+09,1101490.0,1972.972973

In [15]:
# df avec ration energie /poids d'un oeufs
oeufs =df_4.loc[ df_4['item'] == 'Oeufs']
oeufs

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an),ratio_energie_poids en Kcal/an
75,Arménie,animal,Oeufs,4.889722e+10,3.480113e+07,1405.047049
146,Afghanistan,animal,Oeufs,5.575740e+10,3.971760e+07,1403.846154
230,Albanie,animal,Oeufs,5.327467e+10,3.950385e+07,1348.594378
324,Algérie,animal,Oeufs,3.863948e+11,3.160165e+08,1222.704715
406,Angola,animal,Oeufs,3.134912e+10,2.383392e+07,1315.315315
498,Antigua-et-Barbuda,animal,Oeufs,4.927500e+08,3.897000e+05,1264.434180
591,Argentine,animal,Oeufs,6.202394e+11,4.720699e+08,1313.871817
687,Australie,animal,Oeufs,2.726462e+11,1.986489e+08,1372.502938
783,Autriche,animal,Oeufs,1.767385e+11,1.247066e+08,1417.234332
874,Bahamas,animal,Oeufs,3.164915e+09,2.337400e+06,1354.032258
968,Barbade,animal,Oeufs,3.536850e+09,2.738850e+06,1291.363163
1062,Bangladesh,animal,Oeufs,5.144146e+11,3.257176e+08,1579.326923
1145,Bermudes,animal,Oeufs,1.352325e+09,9.698000e+05,1394.436997
1238,Bolivie (État plurinational de),animal,Oeufs,7.010847e+10,5.527578e+07,1268.339768
1333,Botswana,animal,Oeufs,5.163655e+09,3.940950e+06,1310.256410
1430,Brésil,animal,Oeufs,2.413360e+12,1.799251e+09,1341.314031
1521,Belize,animal,Oeufs,2.060060e+09,1.610200e+06,1279.381443
1600,Îles Salomon,animal,Oeufs,1.023825e+09,7.180800e+05,1425.781250
1695,Brunéi Darussalam,animal,Oeufs,9.917050e+09,6.754880e+06,1468.131188
1789,Bulgarie,animal,Oeufs,8.436464e+10,6.038428e+07,1397.129187
1875,Myanmar,animal,Oeufs,4.859884e+11,3.435206e+08,1414.728682
1970,Cameroun,animal,Oeufs,8.122710e+09,8.901600e+06,912.500000
2066,Canada,animal,Oeufs,6.292301e+11,4.556069e+08,1381.081081
2152,Cabo Verde,animal,Oeufs,3.096295e+09,2.534920e+06,1221.456693
2238,République centrafricaine,animal,Oeufs,3.369680e+09,2.169520e+06,1553.191489
2332,Sri Lanka,animal,Oeufs,1.397636e+11,9.721761e+07,1437.636761
2408,Tchad,animal,Oeufs,4.681125e+09,3.078000e+06,1520.833333
2500,Chili,animal,Oeufs,2.315268e+11,1.756714e+08,1317.953862
2598,"Chine, continentale",animal,Oeufs,3.843563e+13,2.599324e+10,1478.678038
2695,Colombie,animal,Oeufs,6.702123e+11,5.209004e+08,1286.641929
...,...,...,...,...,...,...
13125,Suède,animal,Oeufs,1.851510e+11,1.279643e+08,1446.896036
13221,Suisse,animal,Oeufs,1.179388e+11,8.506134e+07,1386.514720
13281,Turkménistan,animal,Oeufs,5.737800e+10,4.129120e+07,1389.593909
13373,"Chine, Taiwan Province de",animal,Oeufs,4.257725e+11,3.051564e+08,1395.259939
13470,République-Unie de Tanzanie,animal,Oeufs,3.595469e+10,2.856674e+07,1258.620690
13566,Thaïlande,animal,Oeufs,1.271869e+12,8.275858e+08,1536.842105
13658,Togo,animal,Oeufs,7.464615e+09,5.862620e+06,1273.255814
13751,Trinité-et-Tobago,animal,Oeufs,7.341975e+09,5.632200e+06,1303.571429
13846,Oman,animal,Oeufs,4.109608e+10,2.832960e+07,1450.641026
13938,Tunisie,animal,Oeufs,1.043615e+11,8.434699e+07,1237.288136
14032,Turquie,animal,Oeufs,9.025680e+11,6.144506e+08,1468.902439
14125,Émirats arabes unis,animal,Oeufs,1.057500e+11,7.691758e+07,1374.848117
14221,Ouganda,animal,Oeufs,4.114900e+10,3.645163e+07,1128.865979
14317,Royaume-Uni,animal,Oeufs,9.948119e+11,7.022947e+08,1416.516245
14409,Ukraine,animal,Oeufs,1.139344e+12,8.147544e+08,1398.389783
14505,États-Unis d'Amérique,animal,Oeufs,6.541842e+12,4.666344e+09,1401.920439
14596,Burkina Faso,animal,Oeufs,5.563148e+10,4.420035e+07,1258.620690
14688,Uruguay,animal,Oeufs,5.844708e+10,4.476798e+07,1305.555556
14773,Ouzbékistan,animal,Oeufs,2.112182e+11,1.513248e+08,1395.793499
14869,Venezuela (République bolivarienne du),animal,Oeufs,2.219565e+11,1.711802e+08,1296.625222
14951,Viet Nam,animal,Oeufs,5.019480e+11,3.520512e+08,1425.781250
15043,Éthiopie,animal,Oeufs,3.434686e+10,3.387636e+07,1013.888889
15120,Samoa,animal,Oeufs,6.935000e+08,4.389000e+05,1580.086580
15214,Yémen,animal,Oeufs,8.017700e+10,5.442761e+07,1473.094170
15308,Zambie,animal,Oeufs,5.837408e+10,4.826948e+07,1209.337349
15403,Belgique,animal,Oeufs,1.985950e+11,1.397994e+08,1420.571882
15497,Luxembourg,animal,Oeufs,1.063975e+10,7.759200e+06,1371.243169
15590,Serbie,animal,Oeufs,1.180315e+11,8.455279e+07,1395.950506
15681,Monténégro,animal,Oeufs,9.973260e+09,7.203600e+06,1384.482759
15773,Soudan,animal,Oeufs,5.542744e+10,3.758436e+07,1474.747475

### 100g oeufs kcal selon fao = 140,4kcal

 * En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées). Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la teneur en protéines de l'avoine.

In [16]:
# On calcule la disponibilité de proteines en kg par an
df_4['Disponibilite proteines en kg/an'] = (df_3['Disponibilité de protéines en quantité (g/personne/jour)'] /1000)*365 *df_3['Population totale (en milliers)']
df_4.head()

/Volumes/MarceloHD1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an),ratio_energie_poids en Kcal/an,Disponibilite proteines en kg/an
0,Arménie,vegetal,Blé,1.112684e+12,388796200.0,2861.868300,33163184.60
1,Arménie,vegetal,Orge,0.000000e+00,0.0,NaN,0.00
2,Arménie,vegetal,Maïs,0.000000e+00,89310.0,0.000000,10866.05
3,Arménie,vegetal,Seigle,1.086605e+09,357240.0,3041.666667,21732.10
4,Arménie,vegetal,Avoine,2.173210e+09,1101490.0,1972.972973,97794.45

In [17]:
# On calcule le ratio proteines / poids
df_4['Ratio_proteines_poids kg/an']=df_4['Disponibilite proteines en kg/an']/df_4['Disponibilité alimentaire en quantité (kg/an)']
df_4.head()

/Volumes/MarceloHD1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an),ratio_energie_poids en Kcal/an,Disponibilite proteines en kg/an,Ratio_proteines_poids kg/an
0,Arménie,vegetal,Blé,1.112684e+12,388796200.0,2861.868300,33163184.60,0.085297
1,Arménie,vegetal,Orge,0.000000e+00,0.0,NaN,0.00,NaN
2,Arménie,vegetal,Maïs,0.000000e+00,89310.0,0.000000,10866.05,0.121667
3,Arménie,vegetal,Seigle,1.086605e+09,357240.0,3041.666667,21732.10,0.060833
4,Arménie,vegetal,Avoine,2.173210e+09,1101490.0,1972.972973,97794.45,0.088784

In [18]:
# df avec les valeurs pou l'avoine
avoine =df_4.loc[ df_4['item'] == 'Avoine']
avoine

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an),ratio_energie_poids en Kcal/an,Disponibilite proteines en kg/an,Ratio_proteines_poids kg/an
4,Arménie,vegetal,Avoine,2.173210e+09,1.101490e+06,1972.972973,97794.45,0.088784
157,Albanie,vegetal,Avoine,1.158145e+09,4.124900e+05,2807.692308,34744.35,0.084231
250,Algérie,vegetal,Avoine,0.000000e+00,3.920800e+05,0.000000,0.00,0.000000
343,Angola,vegetal,Avoine,0.000000e+00,2.147200e+05,0.000000,0.00,0.000000
425,Antigua-et-Barbuda,vegetal,Avoine,4.927500e+08,2.403000e+05,2050.561798,21024.00,0.087491
517,Argentine,vegetal,Avoine,6.051116e+10,2.652544e+07,2281.250000,2269168.50,0.085547
611,Australie,vegetal,Avoine,8.520195e+09,3.968310e+06,2147.058824,340807.80,0.085882
707,Autriche,vegetal,Avoine,5.581215e+10,1.902880e+07,2933.035714,2139465.75,0.112433
803,Bahamas,vegetal,Avoine,1.376050e+09,6.484400e+05,2122.093023,56418.05,0.087006
894,Barbade,vegetal,Avoine,6.241500e+08,2.964000e+05,2105.769231,26006.25,0.087740
987,Bangladesh,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,0.00,NaN
1081,Bermudes,vegetal,Avoine,NaN,NaN,NaN,NaN,NaN
1164,Bolivie (État plurinational de),vegetal,Avoine,1.557966e+10,9.177060e+06,1697.674419,662135.55,0.072151
1258,Botswana,vegetal,Avoine,7.376650e+08,2.627300e+05,2807.692308,22129.95,0.084231
1353,Brésil,vegetal,Avoine,8.044534e+11,4.367892e+08,1841.743119,32178137.20,0.073670
1449,Belize,vegetal,Avoine,1.332980e+09,5.909600e+05,2255.617978,53319.20,0.090225
1619,Brunéi Darussalam,vegetal,Avoine,9.154200e+08,4.389000e+05,2085.714286,33565.40,0.076476
1715,Bulgarie,vegetal,Avoine,5.272790e+09,2.239130e+06,2354.838710,184547.65,0.082419
1808,Myanmar,vegetal,Avoine,NaN,NaN,NaN,NaN,NaN
1895,Cameroun,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,0.00,NaN
1990,Canada,vegetal,Avoine,6.420715e+10,2.568286e+07,2500.000000,2696700.30,0.105000
2087,Cabo Verde,vegetal,Avoine,0.000000e+00,2.994000e+04,0.000000,1821.35,0.060833
2170,République centrafricaine,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,0.00,NaN
2256,Sri Lanka,vegetal,Avoine,0.000000e+00,4.254600e+05,0.000000,77646.45,0.182500
2427,Chili,vegetal,Avoine,1.029008e+11,4.880740e+07,2108.303249,4308971.00,0.088285
2521,"Chine, continentale",vegetal,Avoine,5.057320e+11,1.662680e+08,3041.666667,15171958.65,0.091250
2618,Colombie,vegetal,Avoine,1.763716e+10,1.014741e+07,1738.095238,881858.25,0.086905
2715,Congo,vegetal,Avoine,1.623520e+09,6.227200e+05,2607.142857,48705.60,0.078214
2805,Costa Rica,vegetal,Avoine,1.600452e+10,7.210560e+06,2219.594595,640180.80,0.088784
2902,Cuba,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...
12893,Tadjikistan,vegetal,Avoine,NaN,NaN,NaN,NaN,NaN
12958,Eswatini,vegetal,Avoine,4.562500e+08,2.000000e+05,2281.250000,18250.00,0.091250
13050,Suède,vegetal,Avoine,3.144074e+10,1.311227e+07,2397.810219,1257629.40,0.095912
13145,Suisse,vegetal,Avoine,1.769082e+10,1.332870e+07,1327.272727,678148.10,0.050879
13241,Turkménistan,vegetal,Avoine,NaN,NaN,NaN,NaN,NaN
13298,"Chine, Taiwan Province de",vegetal,Avoine,7.663905e+10,3.639480e+07,2105.769231,3150716.50,0.086571
13393,République-Unie de Tanzanie,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,0.00,NaN
13490,Thaïlande,vegetal,Avoine,0.000000e+00,6.701100e+05,0.000000,0.00,0.000000
13585,Togo,vegetal,Avoine,0.000000e+00,1.363400e+05,0.000000,0.00,0.000000
13678,Trinité-et-Tobago,vegetal,Avoine,NaN,NaN,NaN,NaN,NaN
13770,Oman,vegetal,Avoine,3.977040e+09,2.142880e+06,1855.932203,185595.20,0.086610
13865,Tunisie,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,0.00,NaN
13958,Turquie,vegetal,Avoine,0.000000e+00,1.498660e+06,0.000000,0.00,0.000000
14052,Émirats arabes unis,vegetal,Avoine,NaN,NaN,NaN,NaN,NaN
14145,Ouganda,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,0.00,NaN
14241,Royaume-Uni,vegetal,Avoine,9.485416e+11,4.196021e+08,2260.574018,36784904.40,0.087666
14337,Ukraine,vegetal,Avoine,4.293181e+11,2.013136e+08,2132.584270,17668091.45,0.087764
14429,États-Unis d'Amérique,vegetal,Avoine,2.219554e+12,1.264201e+09,1755.696203,92286705.85,0.073000
14614,Uruguay,vegetal,Avoine,1.243555e+09,6.814000e+05,1825.000000,49742.20,0.073000
14708,Ouzbékistan,vegetal,Avoine,0.000000e+00,2.025380e+06,0.000000,211218.20,0.104286
14792,Venezuela (République bolivarienne du),vegetal,Avoine,1.331739e+11,7.418820e+07,1795.081967,5326956.00,0.071803
14969,Éthiopie,vegetal,Avoine,1.373875e+11,5.740161e+07,2393.442623,6525904.35,0.113689
15061,Samoa,vegetal,Avoine,6.935000e+07,3.610000e+04,1921.052632,NaN,NaN
15139,Yémen,vegetal,Avoine,0.000000e+00,1.220350e+06,0.000000,89085.55,0.073000
15233,Zambie,vegetal,Avoine,0.000000e+00,4.361700e+05,0.000000,53067.35,0.121667
15327,Belgique,vegetal,Avoine,4.052960e+09,1.776640e+06,2281.250000,162118.40,0.091250
15423,Luxembourg,vegetal,Avoine,1.741050e+09,8.109000e+05,2147.058824,71576.50,0.088268
15517,Serbie,vegetal,Avoine,3.471515e+09,1.426650e+06,2433.333333,138860.60,0.097333
15610,Monténégro,vegetal,Avoine,0.000000e+00,1.242000e+04,0.000000,NaN,NaN
15700,Soudan,vegetal,Avoine,0.000000e+00,0.000000e+00,NaN,NaN,NaN

### Question 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids. 
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [19]:
#  On replace le 0 par NAN (ils sont pas pris encompte pour la moyenne)
df_4 =df_4.replace(0, np.NaN)
df_4.head()

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an),ratio_energie_poids en Kcal/an,Disponibilite proteines en kg/an,Ratio_proteines_poids kg/an
0,Arménie,vegetal,Blé,1.112684e+12,388796200.0,2861.868300,33163184.60,0.085297
1,Arménie,vegetal,Orge,NaN,NaN,NaN,NaN,NaN
2,Arménie,vegetal,Maïs,NaN,89310.0,NaN,10866.05,0.121667
3,Arménie,vegetal,Seigle,1.086605e+09,357240.0,3041.666667,21732.10,0.060833
4,Arménie,vegetal,Avoine,2.173210e+09,1101490.0,1972.972973,97794.45,0.088784

In [20]:
df_5 = df_4[['item','country', 'Disponibilité alimentaire en quantité (kg/an)','Disponibilité alimentaire (Kcal/an)','ratio_energie_poids en Kcal/an', 'Ratio_proteines_poids kg/an']]
df_5.head()

,item,country,Disponibilité alimentaire en quantité (kg/an),Disponibilité alimentaire (Kcal/an),ratio_energie_poids en Kcal/an,Ratio_proteines_poids kg/an
0,Blé,Arménie,388796200.0,1.112684e+12,2861.868300,0.085297
1,Orge,Arménie,NaN,NaN,NaN,NaN
2,Maïs,Arménie,89310.0,NaN,NaN,0.121667
3,Seigle,Arménie,357240.0,1.086605e+09,3041.666667,0.060833
4,Avoine,Arménie,1101490.0,2.173210e+09,1972.972973,0.088784

In [21]:
df_5 = df_5.groupby(['item']).mean()
df_5.head()

,Disponibilité alimentaire en quantité (kg/an),Disponibilité alimentaire (Kcal/an),ratio_energie_poids en Kcal/an,Ratio_proteines_poids kg/an
item,,,,
Abats Comestible,9.001586e+07,9.965102e+10,1132.473774,0.176309
"Agrumes, Autres",8.290770e+07,6.184426e+10,256.962548,0.004471
"Alcool, non Comestible",NaN,NaN,NaN,NaN
Aliments pour enfants,5.580274e+06,2.540923e+10,3826.952046,0.154317
Ananas,1.259451e+08,5.617029e+10,442.588355,0.003056

In [22]:
#Vérification Nourriture = Dispo Alim Kg an
b = df_3[['item','Nourriture','Disponibilité alimentaire en quantité (kg/an)','Disponibilité alimentaire (Kcal/an)']]
b = b.groupby(['item']).sum()
b.head()

,Nourriture,Disponibilité alimentaire en quantité (kg/an),Disponibilité alimentaire (Kcal/an)
item,,,
Abats Comestible,15669.0,1.566276e+10,1.723963e+13
"Agrumes, Autres",11359.0,1.135835e+10,2.473770e+12
"Alcool, non Comestible",0.0,0.000000e+00,0.000000e+00
Aliments pour enfants,1522.0,1.540156e+09,5.590030e+12
Ananas,20757.0,2.078094e+10,7.077457e+12

In [23]:
# on sort le 20 produti plus caloriques
df_5 =df_5.replace([np.inf, -np.inf], np.nan)
df_5= df_5.sort_values(by=['ratio_energie_poids en Kcal/an'], ascending=False)
df_5.head(20)

,Disponibilité alimentaire en quantité (kg/an),Disponibilité alimentaire (Kcal/an),ratio_energie_poids en Kcal/an,Ratio_proteines_poids kg/an
item,,,,
Huiles de Foie de Poisso,9.730462e+05,2.502112e+10,11809.003531,NaN
Huile de Sésame,8.977130e+06,1.079902e+11,10146.064841,NaN
Huile d'Olive,1.821124e+07,1.923122e+11,9292.674322,NaN
Huile de Germe de Maïs,1.781335e+07,1.832765e+11,9257.130389,0.007632
Huile de Son de Riz,6.533829e+07,5.920899e+11,9206.134101,0.006887
Huile de Colza&Moutarde,1.195257e+08,1.145271e+12,9149.964104,0.003944
Huile d'Arachide,3.474804e+07,3.508051e+11,9118.262843,0.010139
Huile de Tournesol,6.794016e+07,6.423795e+11,9027.791629,0.002841
Huile de Palmistes,3.010234e+07,3.044971e+11,9012.117711,0.006449
Huile Graines de Coton,4.998184e+07,4.766403e+11,8972.360166,0.005612
Huile de Coco,1.889435e+07,1.781138e+11,8932.572320,0.007364
Huiles de Poissons,1.375139e+07,1.519247e+11,8917.431319,NaN
Huile de Soja,1.502356e+08,1.339902e+12,8900.180815,0.003226
Huile de Palme,1.345206e+08,1.184364e+12,8791.217534,0.004992
Huil Plantes Oleif Autr,1.197435e+07,1.038730e+11,8720.818117,0.010555
Graisses Animales Crue,6.017116e+07,4.281835e+11,7579.278844,0.015892
"Beurre, Ghee",5.691217e+07,4.776940e+11,7470.526350,0.009189
Sésame,1.326261e+07,9.548168e+10,6136.984310,0.187107
Arachides Decortiquees,7.321985e+07,4.059926e+11,5705.476348,0.250913
Feve de Cacao,2.751542e+07,8.199846e+10,4943.058476,0.078098

In [24]:
# on sort le 20 produti plus proteines
df_5 = df_5.sort_values(by=['Ratio_proteines_poids kg/an'], ascending=False)
df_5.head(20)

,Disponibilité alimentaire en quantité (kg/an),Disponibilité alimentaire (Kcal/an),ratio_energie_poids en Kcal/an,Ratio_proteines_poids kg/an
item,,,,
Graines Colza/Moutarde,1.296034e+08,5.722929e+10,NaN,0.365000
Soja,8.134605e+07,5.006040e+11,3181.880189,0.272545
Arachides Decortiquees,7.321985e+07,4.059926e+11,5705.476348,0.250913
Pois,4.076138e+07,1.541901e+11,3526.143869,0.224239
Légumineuses Autres,1.700520e+08,6.455692e+11,3474.483138,0.223047
Haricots,1.161423e+08,4.112961e+11,3415.860749,0.218658
"Plantes Oleiferes, Autre",1.280907e+07,8.131678e+10,4825.017021,0.187802
Sésame,1.326261e+07,9.548168e+10,6136.984310,0.187107
"Viande, Autre",4.190636e+07,6.220198e+10,1372.485525,0.178481
Abats Comestible,9.001586e+07,9.965102e+10,1132.473774,0.176309
Aliments pour enfants,5.580274e+06,2.540923e+10,3826.952046,0.154317
Cephalopodes,2.871804e+07,4.527679e+10,890.786800,0.150352
Viande de Bovins,3.748364e+08,5.789914e+11,1689.213495,0.144611
Viande d'Ovins/Caprins,7.738209e+07,1.674493e+11,2039.526958,0.138969
Viande de Volailles,6.027775e+08,8.617331e+11,1301.168956,0.126200
Piments,2.433010e+07,9.714295e+10,3450.749617,0.124310
Poissons Pelagiques,1.260453e+08,1.338604e+11,973.174235,0.122727
Graines de tournesol,1.000082e+07,4.346779e+10,3443.306541,0.120599
"Poissons Marins, Autres",5.310172e+07,5.154403e+10,790.012811,0.113554
Poivre,2.866945e+06,1.050413e+10,3238.505021,0.112612

### Question 6 : Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [25]:
#df des produits d'origin vegetal
df_6 = df_3.loc[ df_3['origin'] == 'vegetal']
df_6.head()

,country,origin,item,Nourriture,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Population totale (en milliers),Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an)
0,Arménie,vegetal,Blé,389.0,1024.0,30.52,2977000,1.112684e+12,388796200.0
1,Arménie,vegetal,Orge,0.0,0.0,0.00,2977000,0.000000e+00,0.0
2,Arménie,vegetal,Maïs,0.0,0.0,0.01,2977000,0.000000e+00,89310.0
3,Arménie,vegetal,Seigle,0.0,1.0,0.02,2977000,1.086605e+09,357240.0
4,Arménie,vegetal,Avoine,1.0,2.0,0.09,2977000,2.173210e+09,1101490.0

In [26]:
# disponibilité alimentaire vegtal en kcal par an
vegetal =  df_6['Disponibilité alimentaire (Kcal/an)'].sum()
vegetal

6051609427075000.0

###  Question 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Calcul des besoins énergétiques alimentaires

* La quantité de nourriture dont les gens ont besoin chaque jour - c'est-à-dire leurs besoins énergétiques alimentaires quotidiens - dépend de leur poids, de leur taille, de leur âge, de leur sexe et de leur niveau d'activité.
* Le tableau ci-contre donne des exemples de différents niveaux d'activité (légère, moyenne ou intense) et la quantité des calories que nécessite cette activité pour les hommes et les femmes en fonction de leur masse corporelle. Les personnes âgées ont besoin d'un peu moins d'énergie alimentaire et les enfants de beaucoup moins.
* On calcule la prévalence et la gravité de la faim en utilisant les besoins énergétiques alimentaires minimaux des différents groupes de sexe et d'âge de la population. Pour chaque groupe, le besoin minimal est fondé sur le poids minimal acceptable compte tenu de la stature moyenne du groupe dans le pays considéré et sur une activité légère.

#### Niveau d'activité physique des adultes

* Activité légère: niveau d'activité correspondant à une occupation sédentaire (bureau ou travail derrière un comptoir avec des machines).
* Activité modérée: activité physique légère permanente telle que le travail dans l'industrie légère ou le travail agricole hors saison.
* Activité intense: travail intense et occasionnellement épuisant (production agricole, industries extractives et sidérurgie par exemple).

#### Besoins énergétiques quotidiens approximatifs des adultes




|                                  | Activité légère (kcal) | Activité modérée (kcal) | Activité intense (kcal) |
|----------------------------------|------------------------|-------------------------|-------------------------|
|                                  |                        |                         |                         |
| Hommes (stature 1,71 m)*         |                        |                         |                         |
| Masse corporelle minimum (54 kg) | 2 335                  | 2 682                   | 3 164                   |
| Masse corporelle maximum (73 kg) | 2 786                  | 3 199                   | 3 775                   |
|                                  |                        |                         |                         |
|                                  |                        |                         |                         |
| Femmes (stature 1,59 m)*         |                        |                         |                         |
| Masse corporelle minimum (47 kg) | 1 846                  | 1 941                   | 2 154                   |
| Masse corporelle maximum (63 kg) | 2 223                  | 2 337                   | 2 594                   |

* Les besoins alimentaires seraient plus élevés pour des personnes plus grandes et moins élevés pour des personnes plus petites.
* Normes fondées sur les rapports du Comité spécial mixte FAO/OMS/UNU d'experts sur les besoins en énergie et en protéines, 1985.

In [27]:
# on calcule la moyenne de besoin des calories
moyenne_kcal_jour = np.array ([2335,2682,3164,2786,3199,3775, 1846, 1941 ,2154, 2223, 2337,2594])
moyenne_kcal_jour =moyenne_kcal_jour.sum()/12
moyenne_kcal_jour

2586.3333333333335

In [28]:
# on calcule la quantité des humains qu'on pourrais nourrir avec la disponibilité alimentaire des produits vegetaux
moyenne_kcal_an = moyenne_kcal_jour *365
humain_nourris = vegetal / moyenne_kcal_an
humain_nourris

6410523980.538729

In [29]:
# on calcule le pourcentage des humains qu'on pourrais nourrir avec la disponibilité alimentaire des produits vegetaux
pourcentage_humain_nourris_kcal =humain_nourris/total_population_2013
pourcentage_humain_nourris_kcal

0.9161391052151534

 * Les protéines doivent représenter environ 15 % des calories ingérées chaque jour.
 Environ 70g par jour (0,07 kg)

In [30]:
# on calcule le besoin de proteines par an
besoin_proteines_an = 0.07 * 365
besoin_proteines_an

25.55

In [31]:
df_7 = df_4.loc[ df_4['origin'] == 'vegetal']
df_7.head()

,country,origin,item,Disponibilité alimentaire (Kcal/an),Disponibilité alimentaire en quantité (kg/an),ratio_energie_poids en Kcal/an,Disponibilite proteines en kg/an,Ratio_proteines_poids kg/an
0,Arménie,vegetal,Blé,1.112684e+12,388796200.0,2861.868300,33163184.60,0.085297
1,Arménie,vegetal,Orge,NaN,NaN,NaN,NaN,NaN
2,Arménie,vegetal,Maïs,NaN,89310.0,NaN,10866.05,0.121667
3,Arménie,vegetal,Seigle,1.086605e+09,357240.0,3041.666667,21732.10,0.060833
4,Arménie,vegetal,Avoine,2.173210e+09,1101490.0,1972.972973,97794.45,0.088784

In [32]:
# on calcule la disponinilité alimentaire des produits vegetaux
proteines = df_7['Disponibilite proteines en kg/an'].sum()
proteines

125201642514.55002

In [33]:
# on calcule la quantité des humains qu'on pourrais nourrir avec la disponibilité alimentaire des produits vegetaux
humain_nourris_proteine = proteines/besoin_proteines_an
humain_nourris_proteine

4900259981.000001

In [34]:
# on calcule le pourcentage des humains qu'on pourrais nourrir avec la disponibilité alimentaire des produits vegetaux
pourcentage_humain_protein =humain_nourris_proteine /total_population_2013
pourcentage_humain_protein

0.7003046565216485

###### Le pourcentage de la population mondiale que pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux (en KCal) était utilisée pour de la nourriture est de 92 %

###### Le pourcentage de la population mondiale que pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux (en proteines) était utilisée pour de la nourriture est de 70%

### Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux (Food) la nourriture végétale destinée aux animaux (Feed) et les pertes de produits végétaux (Waste) étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [35]:
df_8 = df_4.loc[df_4['origin'] == 'vegetal']
df_8 = df_8.dropna()
data_veg = data.loc[ data['origin'] == 'vegetal']
data_veg = data_veg.dropna()
df_8['Aliments pour animaux en Kcal/an']= data_veg['Aliments pour animaux'] * df_8['ratio_energie_poids en Kcal/an']
alim_veg = df_8['Aliments pour animaux en Kcal/an'].sum()
df_8['Pertes en Kcal/an']= data_veg['Pertes'] * df_8['ratio_energie_poids en Kcal/an']
alim_veg_2 = df_8['Pertes en Kcal/an'].sum()
alim_veg_3 =df_8['Disponibilité alimentaire (Kcal/an)'].sum()

In [36]:
# On calcule la totalité des produits vegetaux avec les pertes et la nourriture destinée aux animuax
total_alim_veg = alim_veg + alim_veg_2 + alim_veg_3
total_alim_veg

4967434673748413.0

In [37]:
# On calcule la totalité des humains nourris avec des produits vegetaux 
humain_nourris_prod_en_milliers =  total_alim_veg/ moyenne_kcal_an
humain_nourris_prod_en_milliers

5262047969.479628

In [38]:
# On calcule le pourcentage des humains nourris avec des produits vegetaux  
p_humain_kcal =humain_nourris_prod_en_milliers/total_population_2013
p_humain_kcal

0.7520084057080701

In [39]:
df_8['Aliments pour animaux en proteines kg/an']= data_veg['Aliments pour animaux'] * df_8['Ratio_proteines_poids kg/an']
alim_veg_4= df_8['Aliments pour animaux en proteines kg/an'].sum()
df_8['Pertes en kg/an']= data_veg['Pertes'] * df_8['Ratio_proteines_poids kg/an']
alim_veg_5 = df_8['Pertes en kg/an'].sum()
alim_veg_6 =df_8['Disponibilite proteines en kg/an'].sum()

In [40]:
# On calcule la totalité des produits vegetaux avec les pertes et la nourriture destinée aux animuax (proteines)
total_alim_veg_p = alim_veg_4 + alim_veg_5 + alim_veg_6
total_alim_veg_p

124953346813.24246

In [41]:
# On calcule la totalité des humains nourris avec des produits vegetaux 
humain_nourris_prod_en_milliers_proteines =  total_alim_veg_p/ besoin_proteines_an
humain_nourris_prod_en_milliers_proteines

4890541949.63767

In [42]:
# On calcule le pourcentage des humains nourris avec des produits vegetaux  
p_humain_proteines =humain_nourris_prod_en_milliers_proteines/total_population_2013
p_humain_proteines

0.6989158357975132

### Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [43]:
# on calcule la disponibilité alimentaire mondiale en kcal par an
diponibilite_alim = df_4['Disponibilité alimentaire (Kcal/an)'].sum()
diponibilite_alim

7364341889385000.0

In [44]:
# on calcule la  quantite de humains nourris avec
humain_nourri_total = diponibilite_alim/moyenne_kcal_an
humain_nourri_total

7801113216.522747

In [45]:
# on calcule le pourcentage de humains nourris avec
pourcentage_humain_nourris =humain_nourri_total /total_population_2013
pourcentage_humain_nourris

1.1148706257965897

In [46]:
# on calcule la disponibilité alimentaire mondiale en kg par an
diponibilite_alim_proteines = df_4['Disponibilite proteines en kg/an'].sum()
diponibilite_alim_proteines

207081072660.75

In [47]:
# on calcule la  quantite de humains nourris avec
humain_nourri_total_proteines = diponibilite_alim_proteines/besoin_proteines_an
humain_nourri_total_proteines

8104934350.714286

In [48]:
# on calcule le pourcentage de humains nourris avec
pourcentage_humain_nourris_proteines =humain_nourri_total_proteines /total_population_2013
pourcentage_humain_nourris_proteines

1.158290231256095

###### Le pourcentage de la population mondiale que pourraient être nourris si toute la disponibilité mondiale  (en KCal) était utilisée pour de la nourriture est de 111 %

###### Le pourcentage de la population mondiale que pourraient être nourris si toute la disponibilité mondiale (en proteines) était utilisée pour de la nourriture est de 115 %

###  Question 10 : A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [49]:
df_data_10 = pd.read_csv('FAOSTAT_data_7-3-2019.csv')
df_data_10.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FS,Données de la sécurité alimentaire,5000,Monde,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,794.8,F,Estimation FAO
1,FS,Données de la sécurité alimentaire,5000,Monde,6132,Valeur,210010,Nombre de personnes sous-alimentées (millions)...,2013,2013,millions,794.9,F,Estimation FAO

In [50]:
# on calcule la quantite  de humains en sous-noutrition
sous_nutrition = 794900000/total_population_2013*100
sous_nutrition

11.360053826275923

###### proportion de la population mondiale est considérée comme étant en sous-nutrition est de 11.36%

### Question 11 : En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

* Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.

Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

In [51]:
# Import des données des bilans alimentaires
df_data_cereales = pd.read_csv('FAOSTAT_data_cereales.csv')
df_data_cereales

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur
0,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,679495
1,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,475659
2,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2513,Orge,2013,2013,Milliers de tonnes,140436
3,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2514,Maïs,2013,2013,Milliers de tonnes,955798
4,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2515,Seigle,2013,2013,Milliers de tonnes,16570
5,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2516,Avoine,2013,2013,Milliers de tonnes,23410
6,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2517,Millet,2013,2013,Milliers de tonnes,29913
7,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2518,Sorgho,2013,2013,Milliers de tonnes,58238
8,FBS,Bilans Alimentaires,5000,Monde,5301,Disponibilité intérieure,2520,"Céréales, Autres",2013,2013,Milliers de tonnes,27489

In [52]:
data.head()

,country_code,country,item_code,item,year,origin,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations,Importations,Nourriture,Pertes,Production,Semences,Transformés,Variation de stock
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

In [53]:
# On cree la colonne is_cereal
data['is_cereal'] = ((df_4['item'] == 'Blé') | (df_4['item'] == 'Orge') | (df_4['item'] == 'Maïs') | (df_4['item'] == 'Seigle') | (df_4['item'] == 'Avoine') | (df_4['item'] == 'Millet')| (df_4['item'] == 'Sorgho')| (df_4['item'] == 'Céréales, Autres') | (df_4['item'] == 'Riz (Eq Blanchi)'))

In [54]:
data.head()

,country_code,country,item_code,item,year,origin,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité intérieure,Exportations,Importations,Nourriture,Pertes,Production,Semences,Transformés,Variation de stock,is_cereal
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,...,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,True
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,...,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,True
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,...,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,True
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,...,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,True
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,...,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,True

In [55]:
# on calcule la totalité des cereals
cereal =data.loc[ data['is_cereal'] == True]
total_cereal = cereal['Disponibilité intérieure'].sum()
total_cereal

2406999.0

In [56]:
# on calcule le pourcentage des cereals
porcetange_alim_ani = cereal['Aliments pour animaux'].sum()/ total_cereal
porcetange_alim_ani

0.36291456706047653

#### proportion (en termes de poids)  destinée à l'alimentation animale = 36%

### Question 12 : Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition, pour une année choisie.

Repérez les 15 produits les plus exportés par ce groupe de pays sur l'année choisie.

Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné sur l'année choisie)

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

* le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
* le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [57]:
# Import des données des bilans alimentaires
df_data_desnutricion = pd.read_csv('FAOSTAT_data_desnutricion.csv')
df_data_desnutricion ['Valeur'] = pd.to_numeric(df_data_desnutricion['Valeur'], errors='coerce')
df_data_desnutricion

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO
2,FS,Données de la sécurité alimentaire,3,Albanie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.2,F,Estimation FAO
3,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.8,F,Estimation FAO
4,FS,Données de la sécurité alimentaire,79,Allemagne,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
5,FS,Données de la sécurité alimentaire,6,Andorre,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
6,FS,Données de la sécurité alimentaire,7,Angola,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.0,F,Estimation FAO
7,FS,Données de la sécurité alimentaire,8,Antigua-et-Barbuda,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
8,FS,Données de la sécurité alimentaire,194,Arabie saoudite,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.6,F,Estimation FAO
9,FS,Données de la sécurité alimentaire,9,Argentine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.5,F,Estimation FAO
10,FS,Données de la sécurité alimentaire,1,Arménie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.1,F,Estimation FAO
11,FS,Données de la sécurité alimentaire,10,Australie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
12,FS,Données de la sécurité alimentaire,11,Autriche,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
13,FS,Données de la sécurité alimentaire,52,Azerbaïdjan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
14,FS,Données de la sécurité alimentaire,12,Bahamas,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
15,FS,Données de la sécurité alimentaire,13,Bahreïn,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
16,FS,Données de la sécurité alimentaire,16,Bangladesh,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,26.4,F,Estimation FAO
17,FS,Données de la sécurité alimentaire,14,Barbade,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
18,FS,Données de la sécurité alimentaire,57,Bélarus,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
19,FS,Données de la sécurité alimentaire,255,Belgique,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
20,FS,Données de la sécurité alimentaire,23,Belize,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
21,FS,Données de la sécurité alimentaire,53,Bénin,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.0,F,Estimation FAO
22,FS,Données de la sécurité alimentaire,17,Bermudes,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
23,FS,Données de la sécurité alimentaire,18,Bhoutan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
24,FS,Données de la sécurité alimentaire,19,Bolivie (État plurinational de),6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.2,F,Estimation FAO
25,FS,Données de la sécurité alimentaire,80,Bosnie-Herzégovine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
26,FS,Données de la sécurité alimentaire,20,Botswana,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.5,F,Estimation FAO
27,FS,Données de la sécurité alimentaire,21,Brésil,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
28,FS,Données de la sécurité alimentaire,26,Brunéi Darussalam,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
29,FS,Données de la sécurité alimentaire,27,Bulgarie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.3,F,Estimation FAO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,FS,Données de la sécurité alimentaire,198,Slovénie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
175,FS,Données de la sécurité alimentaire,201,Somalie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
176,FS,Données de la sécurité alimentaire,276,Soudan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,9.3,F,Estimation FAO
177,FS,Données de la sécurité alimentaire,277,Soudan du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
178,FS,Données de la sécurité alimentaire,38,Sri Lanka,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.4,F,Estimation FAO
179,FS,Données de la sécurité alimentaire,210,Suède,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
180,FS,Données de la sécurité alimentaire,211,Suisse,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
181,FS,Données de la sécurité alimentaire,207,Suriname,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
182,FS,Données de la sécurité alimentaire,208,Tadjikistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
183,FS,Données de la sécurité alimentaire,39,Tchad,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,4.9,F,Estimation FAO
184,FS,Données de la sécurité alimentaire,167,Tchéquie (la),6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
185,FS,Données de la sécurité alimentaire,299,Palestine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
186,FS,Données de la sécurité alimentaire,216,Thaïlande,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.1,F,Estimation FAO
187,FS,Données de la sécurité alimentaire,176,Timor-Leste,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.3,F,Estimation FAO
188,FS,Données de la sécurité alimentaire,217,Togo,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.3,F,Estimation FAO
189,FS,Données de la sécurité alimentaire,218,Tokélaou,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
190,FS,Données de la sécurité alimentaire,219,Tonga,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
191,FS,Données de la sécurité alimentaire,220,Trinité-et-Tobago,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
192,FS,Données de la sécurité alimentaire,222,Tunisie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.5,F,Estimation FAO
193,FS,Données de la sécurité alimentaire,213,Turkménistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.3,F,Estimation FAO
194,FS,Données de la sécurité alimentaire,223,Turquie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
195,FS,Données de la sécurité alimentaire,227,Tuvalu,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,NV,Non disponible
196,FS,Données de la sécurité alimentaire,230,Ukraine,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
197,FS,Données de la sécurité alimentaire,234,Uruguay,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
198,FS,Données de la sécurité alimentaire,155,Vanuatu,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,F,Estimation FAO
199,FS,Données de la sécurité alimentaire,236,Venezuela (République bolivarienne du),6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.8,F,Estimation FAO
200,FS,Données de la sécurité alimentaire,237,Viet Nam,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,11.1,F,Estimation FAO
201,FS,Données de la sécurité alimentaire,249,Yémen,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.1,F,Estimation FAO
202,FS,Données de la sécurité alimentaire,251,Zambie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.0,F,Estimation FAO
203,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.7,F,Estimation FAO

In [58]:
# On cree le df sous_nutrition
df_data_desnutricion = df_data_desnutricion.dropna(how='any')
df_sous_nutri = df_data_desnutricion[['Zone','Code zone','Valeur']]
df_sous_nutri = df_sous_nutri.sort_values(by=['Valeur'], ascending=False)
df_sous_nutri.reset_index(drop = True, inplace = True)
df_sous_nutri.head(10)

                          Zone  Code zone  Valeur
0                         Inde        100   213.1
1                        Chine        351   137.3
2          Chine, continentale         41   136.2
3                     Pakistan        165    38.4
4                   Bangladesh         16    26.4
5                     Éthiopie        238    25.5
6                    Indonésie        101    19.1
7  République-Unie de Tanzanie        215    16.5
8                  Philippines        171    14.0
9                      Ouganda        226    12.6

In [59]:
df_sous_nutri = df_sous_nutri.rename(columns={'Zone': "country", 'Code zone':'country_code', 'Valeur': 'Nombre_de_personnes_sous-alimentées'})
df_sous_nutri.head()

               country  country_code  Nombre_de_personnes_sous-alimentées
0                 Inde           100                                213.1
1                Chine           351                                137.3
2  Chine, continentale            41                                136.2
3             Pakistan           165                                 38.4
4           Bangladesh            16                                 26.4

In [60]:
df_12 = data[['country', 'item', 'Aliments pour animaux','Autres Utilisations',  'Disponibilité intérieure', 'Importations',  'Nourriture', 'Exportations']]

In [61]:
df_12 = df_sous_nutri.merge(df_12)
df_12.head()

,country,country_code,Nombre_de_personnes_sous-alimentées,item,Aliments pour animaux,Autres Utilisations,Disponibilité intérieure,Importations,Nourriture,Exportations
0,Inde,100,213.1,Blé,1870.0,NaN,86372.0,27.0,75833.0,7168.0
1,Inde,100,213.1,Orge,158.0,NaN,1226.0,12.0,835.0,557.0
2,Inde,100,213.1,Maïs,6990.0,45.0,18188.0,17.0,7876.0,5119.0
3,Inde,100,213.1,Seigle,NaN,NaN,0.0,0.0,NaN,0.0
4,Inde,100,213.1,Avoine,6.0,NaN,51.0,52.0,45.0,1.0

In [62]:
# On repére les 15 produits les plus exportés par ce groupe de pays sur l'année choisie.
df_produits = df_12.groupby(['item']).sum()
df_produits = df_produits.sort_values(by=['Exportations'], ascending=False)
df_produits.head(15)

,country_code,Nombre_de_personnes_sous-alimentées,Aliments pour animaux,Autres Utilisations,Disponibilité intérieure,Importations,Nourriture,Exportations
item,,,,,,,,
Huile de Palme,11909,738.2,0.0,24743.0,37852.0,31784.0,12931.0,46285.0
Maïs,12151,739.7,262845.0,46095.0,460152.0,61247.0,105473.0,37888.0
Manioc,11238,694.0,75733.0,34090.0,231131.0,34484.0,92913.0,35843.0
Riz (Eq Blanchi),12151,739.7,32927.0,17838.0,443118.0,28132.0,349901.0,32787.0
Sucre Eq Brut,12151,739.7,23.0,6094.0,107009.0,38806.0,89254.0,25237.0
Blé,12151,739.7,48158.0,10113.0,401225.0,103304.0,309597.0,24841.0
"Légumes, Autres",12151,739.7,37584.0,59.0,732289.0,6114.0,639191.0,19948.0
Bananes,11438,708.6,828.0,116.0,83185.0,3329.0,67210.0,17805.0
"Fruits, Autres",12151,739.7,43.0,62.0,160387.0,8416.0,144814.0,14590.0
Lait - Excl Beurre,12151,739.7,40082.0,1556.0,368664.0,42552.0,312898.0,14486.0
Soja,11491,723.4,12109.0,637.0,148857.0,78141.0,8164.0,14389.0
Poissons Pelagiques,12149,731.6,13087.0,40.0,26432.0,15609.0,13300.0,13680.0
Tomates,11914,728.6,0.0,48.0,104623.0,5001.0,95531.0,8901.0
Pommes,12151,739.7,238.0,17.0,50764.0,4672.0,42606.0,7786.0
"Oranges, Mandarines",12123,733.2,11.0,23.0,54395.0,4138.0,50622.0,6838.0

In [63]:
df_imp = df_12
df_imp =df_imp.sort_values(by=['Importations'], ascending=False)
df_imp = df_imp.head(200)

In [64]:
df_imp = df_imp.groupby(['item']).sum()

In [65]:
df_ratio = df_imp.head(15)
df_ratio

,country_code,Nombre_de_personnes_sous-alimentées,Aliments pour animaux,Autres Utilisations,Disponibilité intérieure,Importations,Nourriture,Exportations
item,,,,,,,,
Abats Comestible,41,136.2,0.0,26.0,4797.0,836.0,4771.0,10.0
Bananes,143,140.4,0.0,0.0,13277.0,1110.0,10737.0,25.0
Blé,5899,382.3,44373.0,8645.0,268788.0,94164.0,196398.0,6378.0
Edulcorants Autres,138,5.4,0.0,407.0,1682.0,1610.0,1274.0,148.0
"Fruits, Autres",235,137.8,0.0,0.0,55056.0,2343.0,49953.0,2310.0
Graines Colza/Moutarde,569,180.4,3715.0,210.0,21077.0,6136.0,13.0,14.0
Graisses Animales Crue,138,5.4,0.0,497.0,800.0,527.0,303.0,19.0
Haricots,100,213.1,226.0,0.0,4512.0,886.0,3806.0,4.0
Huile de Colza&Moutarde,41,136.2,0.0,5117.0,7211.0,1614.0,2094.0,6.0
Huile de Palme,1290,467.7,0.0,17268.0,25427.0,25312.0,7877.0,19932.0
Huile de Palmistes,41,136.2,0.0,544.0,641.0,614.0,96.0,0.0
Huile de Soja,247,355.3,0.0,9803.0,15352.0,3709.0,5549.0,276.0
Huile de Tournesol,100,213.1,0.0,104.0,1253.0,1072.0,1149.0,14.0
Lait - Excl Beurre,2849,251.9,3585.0,1106.0,102347.0,34890.0,94988.0,5969.0
"Légumes, Autres",232,20.1,0.0,1.0,10491.0,1299.0,9810.0,359.0

In [66]:
# on cree le df avec le ratio autres ulitilisation/ disponibilité interieur
df_ratio['ration_autres_uti_disp_int'] = df_ratio['Autres Utilisations']/df_ratio['Disponibilité intérieure']
df_ratio = df_ratio.sort_values(by =['ration_autres_uti_disp_int'],ascending = False)
df_ratio.head()

/Volumes/MarceloHD1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,country_code,Nombre_de_personnes_sous-alimentées,Aliments pour animaux,Autres Utilisations,Disponibilité intérieure,Importations,Nourriture,Exportations,ration_autres_uti_disp_int
item,,,,,,,,,
Huile de Palmistes,41,136.2,0.0,544.0,641.0,614.0,96.0,0.0,0.848674
Huile de Colza&Moutarde,41,136.2,0.0,5117.0,7211.0,1614.0,2094.0,6.0,0.709610
Huile de Palme,1290,467.7,0.0,17268.0,25427.0,25312.0,7877.0,19932.0,0.679121
Huile de Soja,247,355.3,0.0,9803.0,15352.0,3709.0,5549.0,276.0,0.638549
Graisses Animales Crue,138,5.4,0.0,497.0,800.0,527.0,303.0,19.0,0.621250

In [67]:
# on cree le df avec le ratio alimentation animal/ nourriture
df_ratio['ration_alim_ani_alim_total'] = df_ratio['Aliments pour animaux']/(df_ratio['Nourriture']+ df_ratio['Aliments pour animaux'])
df_ratio = df_ratio.sort_values(by =['ration_alim_ani_alim_total'],ascending = False)
df_ratio.head()

,country_code,Nombre_de_personnes_sous-alimentées,Aliments pour animaux,Autres Utilisations,Disponibilité intérieure,Importations,Nourriture,Exportations,ration_autres_uti_disp_int,ration_alim_ani_alim_total
item,,,,,,,,,,
Graines Colza/Moutarde,569,180.4,3715.0,210.0,21077.0,6136.0,13.0,14.0,0.009963,0.996513
Blé,5899,382.3,44373.0,8645.0,268788.0,94164.0,196398.0,6378.0,0.032163,0.184295
Haricots,100,213.1,226.0,0.0,4512.0,886.0,3806.0,4.0,0.000000,0.056052
Lait - Excl Beurre,2849,251.9,3585.0,1106.0,102347.0,34890.0,94988.0,5969.0,0.010806,0.036369
Huile de Palmistes,41,136.2,0.0,544.0,641.0,614.0,96.0,0.0,0.848674,0.000000

#### 3 produits qui ont la plus grande valeur pour chacun des 2 ratios 
##### ratio autres ulitilisation/ disponibilité interieur
* Huile de Palmistes
* Huile de Colza&Moutarde
* Huile de Palme
#####  ratio alimentation animal/ nourriture
* Graines Colza/Moutarde
* Blé
* Haricots

### Question 13 : Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [68]:
# on répere les produits = viande
usa = data.loc[ data['country'] == "États-Unis d'Amérique"]
usa['is_viande'] = ((data['item'] == 'Viande de Bovins') | (data['item'] == "Viande d'Ovins/Caprins") |(data['item'] == 'Viande de Suides') | (data['item'] == "Viande de Volailles") | (data['item'] == "Viande, Autre"))
usa_viande= usa.loc[ usa['is_viande'] == True]
total_viande_usa = usa_viande['Production'].sum()
total_viande_usa

/Volumes/MarceloHD1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

42689.0

In [69]:
pourcentage_viande_usa =total_viande_usa/1000
pourcentage_viande_usa

42.689

In [70]:
usa_cereal= usa.loc[ usa['is_cereal'] == True]
usa_alim_ani =usa_cereal['Aliments pour animaux'].sum()
usa_alim_ani

140096.0

In [71]:
# On calcule combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10%
cereal_libre =pourcentage_viande_usa * usa_alim_ani /total_viande_usa
cereal_libre

140.096

### Question 14 : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [72]:
# on cree le df avec les donées de la Thailande
Thaïlande = data.loc[ data['country'] == 'Thaïlande']
Thaïlande_manioc =  Thaïlande.loc[ Thaïlande['item']== 'Manioc']
Thaïlande_manioc

,country_code,country,item_code,item,year,origin,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité intérieure,Exportations,Importations,Nourriture,Pertes,Production,Semences,Transformés,Variation de stock,is_cereal
13495,216,Thaïlande,2532,Manioc,2013,vegetal,1800.0,2081.0,40.0,13.0,...,6264.0,25214.0,1250.0,871.0,1511.0,30228.0,NaN,0.0,0.0,False

In [73]:
# proportion de manioc est exportée
Thaïlande_manioc_exp =  Thaïlande_manioc['Exportations']/Thaïlande_manioc['Production'] *100
Thaïlande_manioc_exp

13495    83.41273
dtype: float64

In [74]:
Thaïlande_sous_noutrition = df_data_desnutricion.loc [df_data_desnutricion['Zone'] == 'Thaïlande']
Thaïlande_sous_noutrition

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
186,FS,Données de la sécurité alimentaire,216,Thaïlande,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.1,F,Estimation FAO

In [75]:
Thaïlande_population= df_data_3.loc[df_data_3 ['country'] == 'Thaïlande']

In [76]:
# proportion de personnes en sous-nutrition
Thaïlande_sous_noutrition_pourcentage = 6100000*100/67011000
Thaïlande_sous_noutrition_pourcentage

9.102983092328126

###### Thaïlande proportion de manioc est exportée = 83.41%

#### La proportion de personnes en sous-nutritionest de 9,1%

In [77]:
# Import des librairies
import sqlite3

#### Votre base devra contenir ces différentes tables :

###### Une table appelée population, contenant la population de chaque pays pour chaque année comprise entre 2012 et la dernière année disponible à la date où vous aurez consulté le site de la FAO. Elle devra contenir 4 colonnes : pays, code_pays, annee, population.

In [78]:
# Import des données de population
df_population = pd.read_csv('population.csv')
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,31731.688,X,Sources internationales sûres,"UNDESA, Population Division – World Population..."
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2014,2014,1000 personnes,32758.020,X,Sources internationales sûres,"UNDESA, Population Division – World Population..."
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2015,2015,1000 personnes,33736.494,X,Sources internationales sûres,"UNDESA, Population Division – World Population..."
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2016,2016,1000 personnes,34656.032,X,Sources internationales sûres,"UNDESA, Population Division – World Population..."
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,35530.081,X,Sources internationales sûres,"UNDESA, Population Division – World Population..."

In [79]:
# on cree le df population 
df_population = df_population[['Zone','Code zone','Année','Valeur']]

In [80]:
df_population = df_population.rename(columns={'Zone': "pays", 'Code zone':'code_pays', 'Valeur': 'population'})

In [81]:
df_population.head()

          pays  code_pays  Année  population
0  Afghanistan          2   2013   31731.688
1  Afghanistan          2   2014   32758.020
2  Afghanistan          2   2015   33736.494
3  Afghanistan          2   2016   34656.032
4  Afghanistan          2   2017   35530.081

#### Question 15 : Proposez une clé primaire pertinente pour cette table.

In [82]:
# Creation de la DB
conn = sqlite3.connect('ma_base.db')

In [83]:
# Import des librairies
from sqlalchemy import create_engine

In [84]:
# Connection à la DB
engine = create_engine('sqlite:///:memory:')

In [85]:
# Enregistrement  dans la DB
df_population.to_sql('population', engine,  index=False, if_exists='replace')

In [86]:
# Lecture de la DB pour verifier l'enregistrement 
pd.read_sql_table('population', engine)

                                        pays  code_pays  Année  population
0                                Afghanistan          2   2013   31731.688
1                                Afghanistan          2   2014   32758.020
2                                Afghanistan          2   2015   33736.494
3                                Afghanistan          2   2016   34656.032
4                                Afghanistan          2   2017   35530.081
5                             Afrique du Sud        202   2013   53767.396
6                             Afrique du Sud        202   2014   54539.571
7                             Afrique du Sud        202   2015   55291.225
8                             Afrique du Sud        202   2016   56015.473
9                             Afrique du Sud        202   2017   56717.156
10                                   Albanie          3   2013    2918.978
11                                   Albanie          3   2014    2920.775
12                                   Albanie          3   2015    2923.352
13                                   Albanie          3   2016    2926.348
14                                   Albanie          3   2017    2930.187
15                                   Algérie          4   2013   38338.562
16                                   Algérie          4   2014   39113.313
17                                   Algérie          4   2015   39871.528
18                                   Algérie          4   2016   40606.052
19                                   Algérie          4   2017   41318.142
20                                 Allemagne         79   2013   81265.139
21                                 Allemagne         79   2014   81489.660
22                                 Allemagne         79   2015   81707.789
23                                 Allemagne         79   2016   81914.672
24                                 Allemagne         79   2017   82114.224
25                                   Andorre          6   2013      80.788
26                                   Andorre          6   2014      79.223
27                                   Andorre          6   2015      78.014
28                                   Andorre          6   2016      77.281
29                                   Andorre          6   2017      76.965
...                                      ...        ...    ...         ...
1120                                 Vanuatu        155   2013     253.142
1121                                 Vanuatu        155   2014     258.850
1122                                 Vanuatu        155   2015     264.603
1123                                 Vanuatu        155   2016     270.402
1124                                 Vanuatu        155   2017     276.244
1125  Venezuela (République bolivarienne du)        236   2013   30317.848
1126  Venezuela (République bolivarienne du)        236   2014   30738.378
1127  Venezuela (République bolivarienne du)        236   2015   31155.134
1128  Venezuela (République bolivarienne du)        236   2016   31568.179
1129  Venezuela (République bolivarienne du)        236   2017   31977.065
1130                                Viet Nam        237   2013   91497.725
1131                                Viet Nam        237   2014   92544.915
1132                                Viet Nam        237   2015   93571.567
1133                                Viet Nam        237   2016   94569.072
1134                                Viet Nam        237   2017   95540.800
1135                                   Yémen        249   2013   25576.322
1136                                   Yémen        249   2014   26246.327
1137                                   Yémen        249   2015   26916.207
1138                                   Yémen        249   2016   27584.213
1139                                   Yémen        249   2017   28250.420
1140                                  Zambie        251   2013   15153.210
1141                                  Zambie        251   2014   15620.974
1142                                  Zambie        251   2015   16100.587
1143                                  Zambie        251   2016   16591.390
1144                                  Zambie        251   2017   17094.130
1145                                Zimbabwe        181   2013   15054.506
1146                                Zimbabwe        181   2014   15411.675
1147                                Zimbabwe        181   2015   15777.451
1148                                Zimbabwe        181   2016   16150.362
1149                                Zimbabwe        181   2017   16529.904

[1150 rows x 4 columns]

 #### clé primaire  pour cette table = code_pays

* Une table appelée dispo_alim contenant pour chaque pays, pour chaque produit, et pour chaque année comprise entre 2012 et la dernière année disponible, les informations suivantes:
la nature du produit (deux valeurs possibles : “animal” ou “végétal”)
* disponibilité alimentaire en tonnes
* disponibilité alimentaire en Kcal/personne/jour
* disponibilité alimentaire de protéines en g/personne/jour
* disponibilité alimentaire de matières grasses en g/personne/jour
*Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr .

In [87]:
# On cree le df avec la disponibilité alimentaire
df_dispo_alim = data [['country_code', 'country', 'year','item','item_code','origin','Disponibilité intérieure','Disponibilité alimentaire (Kcal/personne/jour)','Disponibilité de matière grasse en quantité (g/personne/jour)','Disponibilité de protéines en quantité (g/personne/jour)']]

In [88]:
df_dispo_alim = df_dispo_alim.rename(columns={'country': "pays", 'country_code':'code_pays', 'year': 'année', 'item': 'produit', 'item_code': 'code_produit', 'Disponibilité intérieure': 'dispo_alim_tonnes', 'Disponibilité alimentaire (Kcal/personne/jour)': 'dispo_alim_kcal_p_j', 'Disponibilité de matière grasse en quantité (g/personne/jour)': 'dispo_mat_gr', 'Disponibilité de protéines en quantité (g/personne/jour)': 'dispo_prot'})

In [89]:
df_dispo_alim.head(10)

,code_pays,pays,année,produit,code_produit,origin,dispo_alim_tonnes,dispo_alim_kcal_p_j,dispo_mat_gr,dispo_prot
0,1,Arménie,2013,Blé,2511,vegetal,554.0,1024.0,3.60,30.52
1,1,Arménie,2013,Orge,2513,vegetal,198.0,0.0,0.00,0.00
2,1,Arménie,2013,Maïs,2514,vegetal,102.0,0.0,NaN,0.01
3,1,Arménie,2013,Seigle,2515,vegetal,1.0,1.0,0.00,0.02
4,1,Arménie,2013,Avoine,2516,vegetal,6.0,2.0,0.03,0.09
5,1,Arménie,2013,Millet,2517,vegetal,0.0,NaN,NaN,NaN
6,1,Arménie,2013,Sorgho,2518,vegetal,0.0,NaN,NaN,NaN
7,1,Arménie,2013,"Céréales, Autres",2520,vegetal,21.0,14.0,0.04,0.39
8,1,Arménie,2013,Pommes de Terre,2531,vegetal,672.0,82.0,0.12,1.94
9,1,Arménie,2013,Manioc,2532,vegetal,0.0,NaN,NaN,NaN

In [90]:
# Enregistrement  dans la DB
df_dispo_alim.to_sql('dispo_alim', engine,  index=False, if_exists='replace')

In [91]:
# Lecture de la DB pour verifier l'enregistrement
pd.read_sql_table('dispo_alim', engine)

,code_pays,pays,année,produit,code_produit,origin,dispo_alim_tonnes,dispo_alim_kcal_p_j,dispo_mat_gr,dispo_prot
0,1,Arménie,2013,Blé,2511,vegetal,554.0,1024.0,3.60,30.52
1,1,Arménie,2013,Orge,2513,vegetal,198.0,0.0,0.00,0.00
2,1,Arménie,2013,Maïs,2514,vegetal,102.0,0.0,NaN,0.01
3,1,Arménie,2013,Seigle,2515,vegetal,1.0,1.0,0.00,0.02
4,1,Arménie,2013,Avoine,2516,vegetal,6.0,2.0,0.03,0.09
5,1,Arménie,2013,Millet,2517,vegetal,0.0,NaN,NaN,NaN
6,1,Arménie,2013,Sorgho,2518,vegetal,0.0,NaN,NaN,NaN
7,1,Arménie,2013,"Céréales, Autres",2520,vegetal,21.0,14.0,0.04,0.39
8,1,Arménie,2013,Pommes de Terre,2531,vegetal,672.0,82.0,0.12,1.94
9,1,Arménie,2013,Manioc,2532,vegetal,0.0,NaN,NaN,NaN
10,1,Arménie,2013,"Racines, Nda",2534,vegetal,0.0,NaN,NaN,NaN
11,1,Arménie,2013,"Sucre, betterave",2537,vegetal,55.0,NaN,NaN,NaN
12,1,Arménie,2013,Sucre Eq Brut,2542,vegetal,93.0,302.0,NaN,NaN
13,1,Arménie,2013,Edulcorants Autres,2543,vegetal,5.0,18.0,NaN,NaN
14,1,Arménie,2013,Haricots,2546,vegetal,5.0,NaN,NaN,NaN
15,1,Arménie,2013,Pois,2547,vegetal,2.0,NaN,NaN,NaN
16,1,Arménie,2013,Légumineuses Autres,2549,vegetal,3.0,0.0,NaN,0.00
17,1,Arménie,2013,Noix,2551,vegetal,6.0,18.0,1.76,0.42
18,1,Arménie,2013,Soja,2555,vegetal,0.0,0.0,NaN,NaN
19,1,Arménie,2013,Arachides Decortiquees,2556,vegetal,1.0,6.0,0.55,0.29
20,1,Arménie,2013,Graines de tournesol,2557,vegetal,2.0,NaN,NaN,NaN
21,1,Arménie,2013,Graines Colza/Moutarde,2558,vegetal,0.0,0.0,0.00,0.00
22,1,Arménie,2013,Coco (Incl Coprah),2560,vegetal,0.0,0.0,0.03,0.00
23,1,Arménie,2013,Sésame,2561,vegetal,0.0,0.0,0.01,0.00
24,1,Arménie,2013,Olives,2563,vegetal,3.0,3.0,0.28,0.03
25,1,Arménie,2013,"Plantes Oleiferes, Autre",2570,vegetal,1.0,0.0,NaN,NaN
26,1,Arménie,2013,Huile de Soja,2571,vegetal,1.0,4.0,0.50,NaN
27,1,Arménie,2013,Huile d'Arachide,2572,vegetal,0.0,0.0,0.00,NaN
28,1,Arménie,2013,Huile de Tournesol,2573,vegetal,30.0,216.0,24.38,0.04
29,1,Arménie,2013,Huile de Colza&Moutarde,2574,vegetal,0.0,0.0,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...
15753,276,Soudan,2013,Poivre,2640,vegetal,1.0,0.0,0.00,0.01
15754,276,Soudan,2013,Piments,2641,vegetal,10.0,2.0,0.05,0.11
15755,276,Soudan,2013,Girofles,2642,vegetal,0.0,0.0,0.00,0.00
15756,276,Soudan,2013,"Épices, Autres",2645,vegetal,2.0,1.0,0.02,0.01
15757,276,Soudan,2013,Vin,2655,vegetal,0.0,NaN,NaN,NaN
15758,276,Soudan,2013,Bière,2656,vegetal,0.0,0.0,NaN,NaN
15759,276,Soudan,2013,Boissons Fermentés,2657,vegetal,735.0,16.0,NaN,0.27
15760,276,Soudan,2013,Boissons Alcooliques,2658,vegetal,20.0,4.0,NaN,NaN
15761,276,Soudan,2013,"Alcool, non Comestible",2659,vegetal,0.0,NaN,NaN,NaN
15762,276,Soudan,2013,Aliments pour enfants,2680,animal,0.0,0.0,NaN,0.00
15763,276,Soudan,2013,Aliments pour enfants,2680,vegetal,0.0,0.0,NaN,0.00
15764,276,Soudan,2013,Viande de Bovins,2731,animal,409.0,64.0,4.96,4.46
15765,276,Soudan,2013,Viande d'Ovins/Caprins,2732,animal,376.0,63.0,5.15,3.85
15766,276,Soudan,2013,Viande de Suides,2733,animal,0.0,NaN,NaN,NaN
15767,276,Soudan,2013,Viande de Volailles,2734,animal,48.0,4.0,0.27,0.45
15768,276,Soudan,2013,"Viande, Autre",2735,animal,194.0,22.0,1.55,1.94
15769,276,Soudan,2013,Abats Comestible,2736,animal,187.0,15.0,0.62,2.15
15770,276,Soudan,2013,Graisses Animales Crue,2737,animal,29.0,17.0,1.89,0.02
15771,276,Soudan,2013,"Beurre, Ghee",2740,animal,10.0,5.0,0.57,0.01
15772,276,Soudan,2013,Crème,2743,animal,0.0,0.0,NaN,NaN
15773,276,Soudan,2013,Oeufs,2744,animal,41.0,4.0,0.28,0.29
15774,276,Soudan,2013,Miel,2745,vegetal,1.0,0.0,NaN,NaN
15775,276,Soudan,2013,Poissons Eau Douce,2761,animal,31.0,2.0,0.06,0.24
15776,276,Soudan,2013,Perciform,2762,animal,0.0,0.0,0.00,0.00
15777,276,Soudan,2013,Poissons Pelagiques,2763,animal,0.0,0.0,0.00,0.00
15778,276,Soudan,2013,"Poissons Marins, Autres",2764,animal,5.0,0.0,0.01,0.04
15779,276,Soudan,2013,Riz (Eq Blanchi),2805,vegetal,49.0,14.0,0.05,0.28
15780,276,Soudan,2013,Lait - Excl Beurre,2848,animal,5892.0,315.0,20.01,15.75
15781,276,Soudan,2013,Miscellanees,2899,animal,NaN,7.0,0.01,1.47
15782,276,Soudan,2013,Miscellanees,2899,vegetal,NaN,7.0,0.01,1.47

#### clé primaire pour cette table = code_produit

* Une table appelée equilibre_prod contenant pour chaque pays, pour chaque produit, et pour chaque année comprise entre 2012 et la dernière année disponible, les quantités suivantes :
* disponibilité intérieure
* aliments pour animaux
* semences
* pertes
* transformés
* nourriture
* autres utilisations
Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, pertes, transfo, nourriture, autres_utilisations.

In [92]:
df_equilibre_prod = data [['country_code', 'country', 'year','item','item_code','origin','Disponibilité intérieure','Aliments pour animaux','Semences','Pertes','Nourriture','Transformés', 'Autres Utilisations']]

In [93]:
df_equilibre_prod = df_equilibre_prod.rename(columns={'country': "pays", 'country_code':'code_pays', 'year': 'année', 'item': 'produit', 'item_code': 'code_produit', 'Disponibilité intérieure': 'dispo_int', 'Aliments pour animaux':'alim_ani','Transformés': 'transfo', 'Autres Utilisations':'autres_utilisations'})

In [94]:
df_equilibre_prod.head()

,code_pays,pays,année,produit,code_produit,origin,dispo_int,alim_ani,Semences,Pertes,Nourriture,transfo,autres_utilisations
0,1,Arménie,2013,Blé,2511,vegetal,554.0,93.0,30.0,32.0,389.0,10.0,0.0
1,1,Arménie,2013,Orge,2513,vegetal,198.0,137.0,14.0,15.0,0.0,7.0,26.0
2,1,Arménie,2013,Maïs,2514,vegetal,102.0,96.0,0.0,7.0,0.0,NaN,NaN
3,1,Arménie,2013,Seigle,2515,vegetal,1.0,1.0,0.0,0.0,0.0,NaN,NaN
4,1,Arménie,2013,Avoine,2516,vegetal,6.0,4.0,0.0,0.0,1.0,NaN,NaN

In [95]:
# Enregistrement dans la DB
df_equilibre_prod.to_sql('equilibre_prod', engine,  index=False, if_exists='replace')

In [96]:
# Lecture de la DB pour verifier l'enregistrement
pd.read_sql_table('equilibre_prod', engine)

,code_pays,pays,année,produit,code_produit,origin,dispo_int,alim_ani,Semences,Pertes,Nourriture,transfo,autres_utilisations
0,1,Arménie,2013,Blé,2511,vegetal,554.0,93.0,30.0,32.0,389.0,10.0,0.0
1,1,Arménie,2013,Orge,2513,vegetal,198.0,137.0,14.0,15.0,0.0,7.0,26.0
2,1,Arménie,2013,Maïs,2514,vegetal,102.0,96.0,0.0,7.0,0.0,NaN,NaN
3,1,Arménie,2013,Seigle,2515,vegetal,1.0,1.0,0.0,0.0,0.0,NaN,NaN
4,1,Arménie,2013,Avoine,2516,vegetal,6.0,4.0,0.0,0.0,1.0,NaN,NaN
5,1,Arménie,2013,Millet,2517,vegetal,0.0,0.0,NaN,NaN,NaN,NaN,NaN
6,1,Arménie,2013,Sorgho,2518,vegetal,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7,1,Arménie,2013,"Céréales, Autres",2520,vegetal,21.0,1.0,1.0,1.0,6.0,NaN,12.0
8,1,Arménie,2013,Pommes de Terre,2531,vegetal,672.0,225.0,123.0,96.0,134.0,78.0,16.0
9,1,Arménie,2013,Manioc,2532,vegetal,0.0,0.0,NaN,NaN,NaN,NaN,NaN
10,1,Arménie,2013,"Racines, Nda",2534,vegetal,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11,1,Arménie,2013,"Sucre, betterave",2537,vegetal,55.0,1.0,NaN,NaN,NaN,54.0,NaN
12,1,Arménie,2013,Sucre Eq Brut,2542,vegetal,93.0,NaN,NaN,NaN,98.0,NaN,0.0
13,1,Arménie,2013,Edulcorants Autres,2543,vegetal,5.0,NaN,NaN,NaN,5.0,NaN,0.0
14,1,Arménie,2013,Haricots,2546,vegetal,5.0,5.0,0.0,0.0,NaN,NaN,NaN
15,1,Arménie,2013,Pois,2547,vegetal,2.0,2.0,NaN,NaN,NaN,NaN,NaN
16,1,Arménie,2013,Légumineuses Autres,2549,vegetal,3.0,3.0,NaN,0.0,0.0,NaN,NaN
17,1,Arménie,2013,Noix,2551,vegetal,6.0,NaN,NaN,0.0,6.0,NaN,NaN
18,1,Arménie,2013,Soja,2555,vegetal,0.0,0.0,NaN,NaN,0.0,NaN,NaN
19,1,Arménie,2013,Arachides Decortiquees,2556,vegetal,1.0,NaN,NaN,NaN,1.0,NaN,NaN
20,1,Arménie,2013,Graines de tournesol,2557,vegetal,2.0,0.0,NaN,NaN,NaN,2.0,NaN
21,1,Arménie,2013,Graines Colza/Moutarde,2558,vegetal,0.0,0.0,NaN,NaN,0.0,NaN,NaN
22,1,Arménie,2013,Coco (Incl Coprah),2560,vegetal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
23,1,Arménie,2013,Sésame,2561,vegetal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
24,1,Arménie,2013,Olives,2563,vegetal,3.0,NaN,NaN,NaN,3.0,NaN,NaN
25,1,Arménie,2013,"Plantes Oleiferes, Autre",2570,vegetal,1.0,1.0,NaN,NaN,0.0,NaN,NaN
26,1,Arménie,2013,Huile de Soja,2571,vegetal,1.0,NaN,NaN,NaN,1.0,NaN,NaN
27,1,Arménie,2013,Huile d'Arachide,2572,vegetal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
28,1,Arménie,2013,Huile de Tournesol,2573,vegetal,30.0,NaN,NaN,NaN,26.0,NaN,3.0
29,1,Arménie,2013,Huile de Colza&Moutarde,2574,vegetal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15753,276,Soudan,2013,Poivre,2640,vegetal,1.0,NaN,NaN,NaN,1.0,NaN,NaN
15754,276,Soudan,2013,Piments,2641,vegetal,10.0,NaN,NaN,NaN,10.0,NaN,NaN
15755,276,Soudan,2013,Girofles,2642,vegetal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
15756,276,Soudan,2013,"Épices, Autres",2645,vegetal,2.0,NaN,NaN,NaN,2.0,NaN,NaN
15757,276,Soudan,2013,Vin,2655,vegetal,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15758,276,Soudan,2013,Bière,2656,vegetal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
15759,276,Soudan,2013,Boissons Fermentés,2657,vegetal,735.0,NaN,NaN,NaN,735.0,NaN,NaN
15760,276,Soudan,2013,Boissons Alcooliques,2658,vegetal,20.0,NaN,NaN,NaN,20.0,NaN,NaN
15761,276,Soudan,2013,"Alcool, non Comestible",2659,vegetal,0.0,NaN,NaN,NaN,NaN,NaN,0.0
15762,276,Soudan,2013,Aliments pour enfants,2680,animal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
15763,276,Soudan,2013,Aliments pour enfants,2680,vegetal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
15764,276,Soudan,2013,Viande de Bovins,2731,animal,409.0,NaN,NaN,NaN,409.0,NaN,NaN
15765,276,Soudan,2013,Viande d'Ovins/Caprins,2732,animal,376.0,NaN,NaN,NaN,376.0,NaN,NaN
15766,276,Soudan,2013,Viande de Suides,2733,animal,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15767,276,Soudan,2013,Viande de Volailles,2734,animal,48.0,NaN,NaN,NaN,48.0,NaN,NaN
15768,276,Soudan,2013,"Viande, Autre",2735,animal,194.0,NaN,NaN,NaN,194.0,NaN,NaN
15769,276,Soudan,2013,Abats Comestible,2736,animal,187.0,NaN,NaN,NaN,187.0,NaN,NaN
15770,276,Soudan,2013,Graisses Animales Crue,2737,animal,29.0,NaN,NaN,NaN,27.0,NaN,2.0
15771,276,Soudan,2013,"Beurre, Ghee",2740,animal,10.0,NaN,NaN,NaN,10.0,NaN,NaN
15772,276,Soudan,2013,Crème,2743,animal,0.0,NaN,NaN,NaN,0.0,NaN,NaN
15773,276,Soudan,2013,Oeufs,2744,animal,41.0,NaN,4.0,NaN,38.0,NaN,NaN
15774,276,Soudan,2013,Miel,2745,vegetal,1.0,NaN,NaN,NaN,1.0,NaN,NaN
15775,276,Soudan,2013,Poissons Eau Douce,2761,animal,31.0,NaN,NaN,NaN,31.0,NaN,0.0
15776,276,Soudan,2013,Perciform,2762,animal,0.0,NaN,NaN,NaN,0.0,NaN,0.0
15777,276,Soudan,2013,Poissons Pelagiques,2763,animal,0.0,NaN,NaN,NaN,0.0,NaN,0.0
15778,276,Soudan,2013,"Poissons Marins, Autres",2764,animal,5.0,NaN,NaN,NaN,5.0,NaN,0.0
15779,276,Soudan,2013,Riz (Eq Blanchi),2805,vegetal,49.0,NaN,1.0,NaN,48.0,NaN,NaN
15780,276,Soudan,2013,Lait - Excl Beurre,2848,animal,5892.0,NaN,NaN,NaN,5892.0,0.0,0.0
15781,276,Soudan,2013,Miscellanees,2899,animal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15782,276,Soudan,2013,Miscellanees,2899,vegetal,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### clé primaire pour cette table = code_produit

* Une table appelée sous_nutrition, contenant le nombre de personnes en sous-alimentation pour chaque pays et pour chaque année comprise entre 2012 et la dernière année disponible. Elle devra contenir 4 colonnes : pays, code_pays, année, nb_personnes.

In [97]:
# Import des données de sous-noutrition
df_sous_nutrition = pd.read_csv('sous_nutrition.csv')

In [98]:
df_sous_nutrition.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,9,F,Estimation FAO
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.9,F,Estimation FAO
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.5,F,Estimation FAO
4,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO

In [99]:
df_sous_nutrition = df_sous_nutrition[['Code zone','Zone', 'Année','Valeur']]

In [100]:
df_sous_nutrition = df_sous_nutrition.rename(columns={'Zone': "pays", 'Code zone':'code_pays', 'year': 'année', 'Valeur': 'nb_personnes'})

In [101]:
df_sous_nutrition.head()

   code_pays            pays      Année nb_personnes
0          2     Afghanistan  2012-2014          8.1
1          2     Afghanistan  2013-2015            9
2          2     Afghanistan  2014-2016          9.9
3          2     Afghanistan  2015-2017         10.5
4        202  Afrique du Sud  2012-2014          2.6

In [102]:
# Eresgistrement dans la DB
df_sous_nutrition.to_sql('sous_nutrition', engine,  index=False, if_exists='replace')

In [103]:
# Lecture de la DB pur verifier l'enregistrement
pd.read_sql_table('sous_nutrition', engine)

     code_pays                                    pays      Année nb_personnes
0            2                             Afghanistan  2012-2014          8.1
1            2                             Afghanistan  2013-2015            9
2            2                             Afghanistan  2014-2016          9.9
3            2                             Afghanistan  2015-2017         10.5
4          202                          Afrique du Sud  2012-2014          2.6
5          202                          Afrique du Sud  2013-2015          2.9
6          202                          Afrique du Sud  2014-2016          3.2
7          202                          Afrique du Sud  2015-2017          3.4
8            3                                 Albanie  2012-2014          0.2
9            3                                 Albanie  2013-2015          0.2
10           3                                 Albanie  2014-2016          0.2
11           3                                 Albanie  2015-2017          0.2
12           4                                 Algérie  2012-2014          1.8
13           4                                 Algérie  2013-2015          1.8
14           4                                 Algérie  2014-2016          1.9
15           4                                 Algérie  2015-2017          1.9
16          79                               Allemagne  2012-2014           <2
17          79                               Allemagne  2013-2015           <2
18          79                               Allemagne  2014-2016           <2
19          79                               Allemagne  2015-2017           <2
20           6                                 Andorre  2012-2014         None
21           6                                 Andorre  2013-2015         None
22           6                                 Andorre  2014-2016         None
23           6                                 Andorre  2015-2017         None
24           7                                  Angola  2012-2014            8
25           7                                  Angola  2013-2015          7.3
26           7                                  Angola  2014-2016          6.9
27           7                                  Angola  2015-2017          6.9
28           8                      Antigua-et-Barbuda  2012-2014         None
29           8                      Antigua-et-Barbuda  2013-2015         None
..         ...                                     ...        ...          ...
786        230                                 Ukraine  2014-2016          1.3
787        230                                 Ukraine  2015-2017          1.5
788        234                                 Uruguay  2012-2014         <0.1
789        234                                 Uruguay  2013-2015         <0.1
790        234                                 Uruguay  2014-2016         <0.1
791        234                                 Uruguay  2015-2017         <0.1
792        155                                 Vanuatu  2012-2014         <0.1
793        155                                 Vanuatu  2013-2015         <0.1
794        155                                 Vanuatu  2014-2016         <0.1
795        155                                 Vanuatu  2015-2017         <0.1
796        236  Venezuela (République bolivarienne du)  2012-2014          1.8
797        236  Venezuela (République bolivarienne du)  2013-2015          2.4
798        236  Venezuela (République bolivarienne du)  2014-2016          3.1
799        236  Venezuela (République bolivarienne du)  2015-2017          3.7
800        237                                Viet Nam  2012-2014         11.1
801        237                                Viet Nam  2013-2015         10.7
802        237                                Viet Nam  2014-2016         10.4
803        237                                Viet Nam  2015-2017         10.2
804        249                                   Yémen  2012-2014          7.1
805        249                                   Yémen  2013-2015          7.9
806        249                                   Yémen  2014-2016          8.8
807        249                                   Yémen  2015-2017          9.5
808        251                                  Zambie  2012-2014            7
809        251                                  Zambie  2013-2015            7
810        251                                  Zambie  2014-2016          7.1
811        251                                  Zambie  2015-2017          7.4
812        181                                Zimbabwe  2012-2014          6.7
813        181                                Zimbabwe  2013-2015          7.2
814        181                                Zimbabwe  2014-2016          7.6
815        181                                Zimbabwe  2015-2017          7.5

[816 rows x 4 columns]

#### clé primaire pour cette table = code_pays

#### Question 19 : Écrivez les requêtes SQL permettant de connaître…

* Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.
* Pour chaque année disponible, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant. Le nombre de lignes de la table renvoyée sera donc égal à 10 fois le nombre d'années disponibles.
* La quantité totale (en kg) de produits perdus par pays et par année. La table renvoyée contiendra donc une ligne par couple (pays, année).
* Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.
* Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.

In [104]:
# Requêtes pour trouver les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.
pd.read_sql_query("SELECT pays,  SUM(dispo_prot) FROM dispo_alim GROUP BY pays ORDER BY SUM(dispo_prot) DESC LIMIT 10", engine)

                       pays  SUM(dispo_prot)
0                   Islande           133.91
1  Chine - RAS de Hong-Kong           129.80
2                    Israël           128.01
3                  Lituanie           124.48
4                  Maldives           122.94
5                  Finlande           118.64
6                Luxembourg           114.50
7                   Norvège           113.78
8                Monténégro           112.50
9                   Albanie           111.54

In [105]:
pd.read_sql_query("SELECT  pays, SUM(dispo_alim_kcal_p_j) FROM dispo_alim GROUP BY  pays ORDER BY SUM(dispo_alim_kcal_p_j) DESC LIMIT 10", engine)

                    pays  SUM(dispo_alim_kcal_p_j)
0               Autriche                    3773.0
1               Belgique                    3737.0
2                Turquie                    3710.0
3  États-Unis d'Amérique                    3682.0
4                 Israël                    3610.0
5                Irlande                    3602.0
6                 Italie                    3586.0
7                Norvège                    3585.0
8             Luxembourg                    3564.0
9                 Koweït                    3535.0

In [106]:
# Requête pour trouver les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant
pd.read_sql_query("SELECT pays,  SUM(dispo_prot) FROM dispo_alim GROUP BY pays ORDER BY SUM(dispo_prot)  LIMIT 10", engine)

                        pays  SUM(dispo_prot)
0                    Libéria            37.80
1              Guinée-Bissau            44.18
2                 Mozambique            45.69
3  République centrafricaine            46.05
4                 Madagascar            46.70
5                      Haïti            47.74
6                   Zimbabwe            48.39
7                      Congo            51.65
8                    Ouganda            52.65
9       Sao Tomé-et-Principe            53.46

In [107]:
# Requête pour trouver la quantité totale (en kg) de produits perdus par pays et par année
pd.read_sql_query("SELECT pays, année, SUM(pertes) FROM equilibre_prod GROUP BY pays ORDER BY SUM(pertes) DESC ", engine)

                                pays  année  SUM(pertes)
0                Chine, continentale   2013      89575.0
1                             Brésil   2013      75914.0
2                               Inde   2013      55930.0
3                            Nigéria   2013      19854.0
4                          Indonésie   2013      13081.0
5                            Turquie   2013      12036.0
6                            Mexique   2013       8289.0
7                             Égypte   2013       7608.0
8                              Ghana   2013       7442.0
9              États-Unis d'Amérique   2013       7162.0
10                          Viet Nam   2013       6743.0
11                          Pakistan   2013       5897.0
12                         Thaïlande   2013       5749.0
13    Iran (République islamique d')   2013       5450.0
14              Fédération de Russie   2013       4997.0
15                            Angola   2013       4799.0
16                           Ukraine   2013       4138.0
17                        Bangladesh   2013       4080.0
18                          Cameroun   2013       3981.0
19                         Allemagne   2013       3781.0
20                           Algérie   2013       3753.0
21                             Pérou   2013       3627.0
22                         Argentine   2013       3522.0
23                            France   2013       3261.0
24       République-Unie de Tanzanie   2013       3236.0
25                       Philippines   2013       2901.0
26                             Japon   2013       2761.0
27                           Pologne   2013       2710.0
28                           Espagne   2013       2581.0
29               République de Corée   2013       2496.0
..                               ...    ...          ...
144                          Vanuatu   2013         33.0
145                           Belize   2013         21.0
146                        Dominique   2013         20.0
147                Trinité-et-Tobago   2013         19.0
148                          Estonie   2013         18.0
149                            Malte   2013         17.0
150                          Maurice   2013         15.0
151                       Cabo Verde   2013         14.0
152                      Timor-Leste   2013         14.0
153                            Fidji   2013         13.0
154                     Sainte-Lucie   2013         12.0
155                            Samoa   2013         12.0
156                       Luxembourg   2013         11.0
157                         Djibouti   2013         10.0
158             Sao Tomé-et-Principe   2013         10.0
159                     Îles Salomon   2013          6.0
160  Saint-Vincent-et-les Grenadines   2013          5.0
161                Brunéi Darussalam   2013          4.0
162                          Grenade   2013          3.0
163               Nouvelle-Calédonie   2013          3.0
164              Polynésie française   2013          3.0
165                          Bahamas   2013          2.0
166                          Barbade   2013          2.0
167             Chine - RAS de Macao   2013          1.0
168               Antigua-et-Barbuda   2013          0.0
169                         Bermudes   2013          0.0
170                          Islande   2013          0.0
171                         Kiribati   2013          0.0
172                         Maldives   2013          0.0
173             Saint-Kitts-et-Nevis   2013          0.0

[174 rows x 3 columns]

In [108]:
#Requête pour toruver les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.
pd.read_sql_query("SELECT pays, année, Sum(nb_personnes) FROM sous_nutrition WHERE année = '2015-2017' GROUP BY pays ORDER BY SUM(nb_personnes )DESC LIMIT 10", engine)

                          pays      Année  Sum(nb_personnes)
0                         Inde  2015-2017              195.9
1                        Chine  2015-2017              124.5
2          Chine, continentale  2015-2017              123.5
3                     Pakistan  2015-2017               39.5
4                   Bangladesh  2015-2017               24.8
5                     Éthiopie  2015-2017               21.9
6                      Nigéria  2015-2017               21.5
7                    Indonésie  2015-2017               20.2
8  République-Unie de Tanzanie  2015-2017               17.8
9                      Ouganda  2015-2017               17.2

In [109]:
#Requête pour toruver les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.
pd.read_sql_query("SELECT pays, année, Sum(nb_personnes) FROM sous_nutrition WHERE année = '2012-2014' GROUP BY pays ORDER BY SUM(nb_personnes )DESC LIMIT 10", engine)

                          pays      Année  Sum(nb_personnes)
0                         Inde  2012-2014              213.1
1                        Chine  2012-2014              137.3
2          Chine, continentale  2012-2014              136.2
3                     Pakistan  2012-2014               38.4
4                   Bangladesh  2012-2014               26.4
5                     Éthiopie  2012-2014               25.5
6                    Indonésie  2012-2014               19.1
7  République-Unie de Tanzanie  2012-2014               16.5
8                  Philippines  2012-2014               14.0
9                      Ouganda  2012-2014               12.6

In [110]:
# Requête pour trouver les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.
pd.read_sql_query("SELECT produit, (autres_utilisations/dispo_int) FROM equilibre_prod GROUP BY produit ORDER BY  (autres_utilisations/dispo_int) DESC ", engine)

                     produit  (autres_utilisations/dispo_int)
0    Huil Plantes Oleif Autr                         1.000000
1             Huile de Palme                         1.000000
2                     Raisin                         0.744681
3           Céréales, Autres                         0.571429
4           Abats Comestible                         0.176471
5                       Orge                         0.131313
6         Huile de Tournesol                         0.100000
7           Viande de Suides                         0.064516
8           Viande de Bovins                         0.032787
9            Pommes de Terre                         0.023810
10                       Blé                         0.000000
11        Edulcorants Autres                         0.000000
12    Graisses Animales Crue                         0.000000
13                     Oeufs                         0.000000
14        Poissons Eau Douce                         0.000000
15   Poissons Marins, Autres                         0.000000
16       Poissons Pelagiques                         0.000000
17             Sucre Eq Brut                         0.000000
18           Agrumes, Autres                              NaN
19    Alcool, non Comestible                              NaN
20     Aliments pour enfants                              NaN
21                    Ananas                              NaN
22  Animaux Aquatiques Autre                              NaN
23    Arachides Decortiquees                              NaN
24                    Avoine                              NaN
25                   Bananes                              NaN
26         Bananes plantains                              NaN
27              Beurre, Ghee                              NaN
28                     Bière                              NaN
29      Boissons Alcooliques                              NaN
..                       ...                              ...
67                      Noix                              NaN
68                   Oignons                              NaN
69                    Olives                              NaN
70       Oranges, Mandarines                              NaN
71                 Palmistes                              NaN
72              Pamplemousse                              NaN
73            Patates douces                              NaN
74                 Perciform                              NaN
75                   Piments                              NaN
76  Plantes Oleiferes, Autre                              NaN
77                      Pois                              NaN
78                    Poivre                              NaN
79                    Pommes                              NaN
80              Racines, Nda                              NaN
81          Riz (Eq Blanchi)                              NaN
82                    Seigle                              NaN
83                      Soja                              NaN
84                    Sorgho                              NaN
85      Sucre non centrifugé                              NaN
86          Sucre, betterave                              NaN
87              Sucre, canne                              NaN
88                    Sésame                              NaN
89                       Thé                              NaN
90                   Tomates                              NaN
91    Viande d'Ovins/Caprins                              NaN
92    Viande de Anim Aquatiq                              NaN
93       Viande de Volailles                              NaN
94             Viande, Autre                              NaN
95                       Vin                              NaN
96            Épices, Autres                              NaN

[97 rows x 2 columns]

#### Question 20 : pour quelques uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !)

###### Huile de Palme = production d'agrocarburant.
###### Raisin = pour produire de l'huile de pépins de raisin
###### Huil Plantes Oleif = medicament